@font-face {
    font-family: futura;
    src: url(Futura.ttf);
}

html {
    overflow: scroll;
}

html, body {
    font-family: futura;
    background-color: #444954;
    color: white;
    margin: 0;
    width: 100%;
    min-width: 685px;
    /*overflow: scroll;*/
}

#headerContainer {
    width: 100%;
    background-color: #00050D;
}

.autoMargin {
    margin-left: auto;
    margin-right: auto;
}

.block {
    display: block;
}

.inline {
    display: inline-block;
}

.titleSpacing {
    letter-spacing: 2px;
}

.bodySpacing {
    letter-spacing: 1px;
}

.centerText {
    text-align: center;
}

#navBarContainer {
    width: 100%;
    height: 40px;
    /*margin-top: -16px;*/
    background-color: #16181D;
    border-bottom: medium solid black;
}

#navBarContent {
    width: 100%;
    height: 100%;
    display: table;
    vertical-align: middle;
    /*overflow: hidden;*/
}

#navBar {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    border-top: medium solid black;
    /*border-bottom: medium solid black;*/
}

#navBar ul {
    /*vertical-align: middle;*/
    margin: 0;
}

#navBar ul li {
    display: inline-block;
    padding-right: 25px;
    padding-left: 25px;
    height: 31px;
    padding-top: 8px;
}

#navBar ul li a {
    color: white;
    text-decoration: none;
}

#navBar ul li:hover,
.selectedNav {
    font-weight: bold;
    height: 28.5px;
    vertical-align: middle;
    border-collapse: collapse;
    border-left: thin solid black;
    border-right: thin solid black;
    border-top: thin solid black;
    border-bottom: none;
    padding-top: 8.5px;
    padding-right: 24.333px;
    padding-left: 24.333px;
}

#navBar ul li:hover {
    background-color: #3C424D;
}

.selectedNav {
    background-color: #444954;
}

.classDivContainer,
.fullWidth {
    width: 100%;
}

.classDiv {
    background-color: black;
    border-radius: 5px 5px 5px 5px;
    width: 350px;
    padding: 5px;
    margin-bottom: 15px;
}

.classDiv td,
.mapDiv td {
    margin-right: 5px;
}

.classDivTable {
    width: 125px;
}

.classDivTable a {
    text-decoration: none;
    color: white;
}

.mapDiv {
    background-color: black;
    border-radius: 5px 5px 5px 5px;
    width: 375px;
    padding: 5px;
    margin-bottom: 15px;
}

.floatLeft {
    float: left;
    text-align: left;
}

.marginLeft {
    padding-left: 5px;
}

#homeLogo {
    /*width: 100px;*/
}

.bodyWidth {
    width: 375px;
}


.subclassDiv {
    background-color: #16181D;
    font-size: 10px;
    text-align: left;
}

.subclassDesc {
    margin-bottom: 2px;
    margin-top: 2px;
    margin: 1px;
    padding: 3px;
}

.noDisplay {
    display: none;
}

.selectedClassDiv,
.selectedMapDiv {
    border: thin solid white;
    border-radius: 5px 5px 0px 0px;
}

#footerContainer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #16181D;
}

#footer {
    display: block;
    text-align: center;
    font-size: 9px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.abilityCircle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: gray;
    border: medium solid black;
    z-index: 1;
}

.abilityText {
    display: none;
    position: relative;
    margin-top: -20%;
    margin-left: 50%;
    z-index: 2;
    /*height: 85px;*/
    width: 165px;
    background-color: #2F323A;
    border: thin solid white;
    border-radius: 3px 3px 3px 3px;
    font-size: 12px;
    padding: 5px;
}

.abilityIcon {
    text-align: center;
    margin-top: 4.5px;
    z-index: 1;
}

#subclassInfo,
#subclassTable {
    width: 475px;
    text-align: center;
}

.subclassTitle {
    letter-spacing: 2px;
    float: left;
}

.subTitle {
    margin-top: -25px;
    float: left;
}

#subclassInfoTable {
    width: 275px;
}

#subclassInfo table {
    width: 275px;

}

.subclassLogo {
    border: medium solid black;
}


.planetPicture {
    border: thin solid black;
    z-index: 1;
}

.planetSelect a {
    text-decoration: none;
}

.planetSelect a:hover img {
    opacity: 0.4;
    transition: opacity 0.3s 0s ease-in-out;
}

.planetSelect a:hover h3 {
    display: inline-block;
}

.planetSelect h3 {
    position: relative;
    /*     top: -150px; */
    top: 120px;
    font-size: 30px;
    color: white;
    display: none;
    z-index: 2;
    height: 0px;
    line-height: 0px;
    margin-top: -30px;
}

.planetSelect {
    background-color: black;
    width: 351px;
}

.shortCell {
    width: 50px;
}

.subText {
    font-size: 10px;
    margin-bottom: 0px;
}